@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kayıt Ol</title>
    
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    
    <link rel="stylesheet" href="~/lib/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page" style="background: url('@Url.Content("~/lib/images/17973908.jpg")');">


    
<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>MOOD</b> Asist</a>
    </div>
    Abonelik için iletişime geçin 0544 819 9181
    @*<div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Kayıt Formu</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Register" method="post">
                <span class="text-danger" asp-validation-for="FullName"></span>
                <div class="input-group mb-3">
                    <input asp-for="FullName" type="text" class="form-control" placeholder="Ad Soyad">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <span class="text-danger" asp-validation-for="Email"></span>
                <div class="input-group mb-3">
                    <input asp-for="Email" type="email" class="form-control" placeholder="E Posta">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <span class="text-danger" asp-validation-for="CompanyName"></span>
                <div class="input-group mb-3">
                    <input asp-for="CompanyName" type="text" class="form-control" placeholder="Firma Adı">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <span class="text-danger" asp-validation-for="Password"></span>
                <div class="input-group mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <span class="text-danger" asp-validation-for="Password"></span>
                <div class="input-group mb-3">
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="Şifre Tekrar">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                <a href="#">Üyelik Koşulları</a> ve <a href="#">Aydınlatma metnini</a> okudum, kabul ediyorum
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Üye Ol</button>
                    </div>
                </div>
            </form>
            <br/>
            <label>Zaten hesabınız var mı ?
                <a href="/Account/Login" class="text-center">Giriş yap</a>
            </label>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->*@
</div>
<!-- /.register-box -->
<!-- jQuery -->
<script src="~/lib/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/lib/dist/js/adminlte.min.js"></script>
</body>
</html>
