
@{
    ViewData["Title"] = "Index";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Ayarlar</h1>
            </div><!-- /.col -->
            @*<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#addProductModal"><i class="fa fa-plus"></i> Yeni Hizmet</button>
                </ol>
            </div>*@
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#smsSettings" data-toggle="tab">SMS Ayarları</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                            <li class="nav-item"><a class="nav-link" href="#bulkSms" data-toggle="tab">Toplu SMS</a></li>
                        </ul>
                    </div><!-- /.card-header -->

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="smsSettings">
                                1
                            </div>
                            <div class="tab-pane" id="timeline">
                                2
                            </div>
                            <div class="tab-pane" id="bulkSms">
                                <div class="card card-warning">
                                    <div class="card-header">
                                        <h3 class="card-title">Toplu SMS</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    
                                    <form id="sendBulkSms" asp-controller="Setting" asp-action="SendBulkSms" method="post">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- textarea -->
                                                    <div class="form-group">
                                                        <label>Mesaj</label>
                                                        <textarea name="message" class="form-control" placeholder="Mesaj.."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Gönder</button>
                                        </div>
                                    </form>
                                    
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

